.input-group.input-group-md
  span.input-group-prefix
    i.icon.icon--search-dark-blue-sm
  input.form-control(type='text', value='', placeholder='Поиск по названию', style='padding-right:124px;')
  span.input-group-postfix.input-group-postfix--hint(style='right:104px;')
    | Например: АЦБК
  span.input-group-btn
    button.btn.btn-primary(type='submit')
      i.icon.icon--search-white-xs
      | Найти
