[class*='uk-column-']
	column-gap 25px

	.uk-dropdown--mega &
		column-gap 44px

		& > li
			width 100%
			display inline-block
			vertical-align top

.uk-column-1-2
	column-count 2

.uk-column-1-3
	column-count 3

.uk-column-1-4
	column-count 4

.uk-column-1-5
	column-count 5

.uk-column-1-6
	column-count 6

+above($breakpoint-sm)
	.uk-column-small-1-2
		column-count 2

	.uk-column-small-1-3
		column-count 3

	.uk-column-small-1-4
		column-count 4

	.uk-column-small-1-5
		column-count 5

	.uk-column-small-1-6
		column-count 6

+above($breakpoint-md)
	.uk-column-medium-1-2
		column-count 2

	.uk-column-medium-1-3
		column-count 3

	.uk-column-medium-1-4
		column-count 4

	.uk-column-medium-1-5
		column-count 5

	.uk-column-medium-1-6
		column-count 6

+above($breakpoint-lg)
	.uk-column-large-1-2
		column-count 2

	.uk-column-large-1-3
		column-count 3

	.uk-column-large-1-4
		column-count 4

	.uk-column-large-1-5
		column-count 5

	.uk-column-large-1-6
		column-count 6

+above($breakpoint-xl)
	.uk-column-xlarge-1-2
		column-count 2

	.uk-column-xlarge-1-3
		column-count 3

	.uk-column-xlarge-1-4
		column-count 4

	.uk-column-xlarge-1-5
		column-count 5

	.uk-column-xlarge-1-6
		column-count 6

