nav.pagination__container
  ul.pagination
    li.disabled.prev
      a(href='#')
        i.mdi.mdi-chevron-left
        span Предыдушая
    li.pagination__spacer
    li.active
      a(href='#') 1
    li
      a(href='#') 2
    li
      a(href='#') 3
    li
      a(href='#') 4
    li
      a(href='#') 5
    li
      a(href='#') 6
    li
      a(href='#') 7
    li
      a(href='#') ...
    li
      a(href='#') 35
    li.pagination__spacer
    li.next
      a(href='#')
        span Следующая
        i.mdi.mdi-chevron-right
