.donate__container(style="background-image:url('assets/images/uploads/donate_image.jpg')")
	.donate__info
		.donate__info-inner
			p.donate__title-1 Спасибо за вашу поддержку!
			p.donate__hint-block
				| Ваша поддержка очень приятна и важна для нас, все средства направляются на развитие проекта.
