.list.list--title-left.list--chip
  .list__item
    .list__item-primary-content
      strong.list__item-title-left Ваш выбор:
      span.list__item-chips
        span.mdl-chip.mdl-chip--deletable
          span.mdl-chip__text Топ-менеджмент
          button.mdl-chip__action(type='button')
            i.mdi.mdi-close
        span.mdl-chip.mdl-chip--deletable
          span.mdl-chip__text 60 000 руб.
          button.mdl-chip__action(type='button')
            i.mdi.mdi-close
        span.mdl-chip.mdl-chip--deletable
          span.mdl-chip__text Полный день
          button.mdl-chip__action(type='button')
            i.mdi.mdi-close
