*[class|=i][class*=-label] {
  background: #f2f2f2;
  color: #3d58a8;
  display: inline-block;
  font: 12px "FuturaDemiC", arial, sans-serif;
  padding: 4px 8px;
  position: relative; }
*[class|=i][class*=-button] {
  background: #4d739f;
  border: 0;
  box-shadow: 0 0 0 1px rgba(77, 115, 159, 0.5);
  color: #fff;
  cursor: pointer;
  font: 10px "FuturaDemiC", arial, sans-serif;
  letter-spacing: 0.05em;
  min-width: 100px;
  min-height: 30px;
  overflow: hidden;
  padding: 0 16px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase; }
*[class|=i][class*=-checkbox] {
  display: none; }
*[class|=i][class*=-checkbox] ~ label {
  cursor: pointer;
  padding-left: 20px;
  position: relative; }
*[class|=i][class*=-checkbox] ~ label:before {
  box-shadow: 0 0 0 1px #C4CCD6;
  content: "";
  background: #fff;
  border: 2px solid #fff;
  height: 8px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 8px;
  transition: background 0.2s; }
*[class|=i][class*=-checkbox]:checked ~ label:before {
  background: #4d739f; }
*[class|=i][class*=-radio] {
  position: absolute;
  display: none; }
*[class|=i][class*=-radio] ~ label {
  cursor: pointer;
  padding-left: 20px;
  position: relative; }
*[class|=i][class*=-radio] ~ label:before {
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C4CCD6;
  content: "";
  background: #fff;
  border: 2px solid #fff;
  height: 8px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 8px;
  transition: background 0.2s; }
*[class|=i][class*=-radio]:checked ~ label:before {
  background: #4d739f; }
*[class|=i][class*=-input] {
  background: #f2f2f2;
  border: 1px solid #e8e8e8;
  color: #5f5f5f;
  font: 400 15px "Helvetica Neue", arial;
  letter-spacing: 0.01em;
  width: 250px;
  padding: 8px 16px;
  position: relative; }
*[class|=i][class*=-input]:-moz-placeholder {
  color: #8f8f8f;
  font: 400 15px "Helvetica Neue", arial; }
*[class|=i][class*=-input]:-ms-input-placeholder {
  color: #8f8f8f;
  font: 400 15px "Helvetica Neue", arial; }
*[class|=i][class*=-input]::-webkit-input-placeholder {
  color: #8f8f8f;
  font: 400 15px "Helvetica Neue", arial; }
*[class|=i][class*=-input]::-moz-placeholder {
  color: #8f8f8f;
  font: 400 15px "Helvetica Neue", arial; }
*[class|=i][class*=overcontent] {
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
*[class|=i][class*=modal] {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  min-height: 100px;
  position: relative;
  width: 400px; }
*[class|=i][class*=modal] .title {
  background: #4d739f;
  color: #fff;
  height: 40px;
  line-height: 42px; }
*[class|=i][class*=modal] .title .text {
  font: 1.4em Arial;
  padding-left: 20px; }
*[class|=i][class*=modal] .title .close {
  cursor: pointer;
  float: right;
  font: 0.9em Arial;
  line-height: 40px;
  opacity: 0.8;
  padding-right: 15px;
  transition: opacity 0.5s; }
*[class|=i][class*=modal] .title .close:hover {
  opacity: 1; }
*[class|=i][class*=modal] .content {
  color: #3e3e3e;
  font: 1.1em Arial;
  min-height: 40px;
  padding: 10px; }

/*
*[class|=btn] {
  width: 270px;
  height: 32px;
  border: 1px solid #C4CCD6;
  background: #f2f2f2 url("../../../../local/img/sprite.png") 270px -2113px;
  padding: 0 30px 0 19px;
  margin: 0 0 0 9px;
  line-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  text-transform: initial;
  color: #4d4d4d;
  font-size: 14px;
  cursor: pointer; }
*/

span.select-btn {
  position: relative;
  display: inline-block;
  float: left;
  height: 39px;
  width: 105px;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 0 35px 0 20px;
  overflow: hidden; }
span.select-btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 20px;
  height: 40px;
  background: url(../../../../local/img/sprite.png) -21px -10448px; }
span.select-btn a {
  margin-top: 12px;
  display: block;
  color: #fff;
  font-family: "FuturaDemiC", arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.select-wrap {
  position: relative;
  display: inline-block;
  margin: 0 0 -6px 0;
  padding: 0; }
.select-wrap span.select-btn b.close {
  position: absolute;
  top: 12px;
  right: 22px;
  width: 7px;
  height: 14px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  display: none; }
.select-wrap span.select-btn b.close.active {
  display: block; }
.select-wrap.active span.select-btn {
  background-color: #fff; }
.select-wrap.active span.select-btn:after {
  background-position: -6px -2113px; }
.select-wrap.active span.select-btn a, .select-wrap.active span.select-btn b.close {
  color: #333; }
.select-wrap.active .select-drop {
  display: block; }
.select-wrap .select-drop {
  position: absolute;
  display: none;
  width: 100px;
  top: 100%;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  z-index: 10; }
.select-wrap .select-drop h2 {
  margin-bottom: 10px;
  font-family: "FuturaDemiC", arial, sans-serif;
  font-size: 19px;
  color: #333;
  text-transform: uppercase; }
.select-wrap .select-drop label {
  display: block;
  height: 46px;
  margin: 0 !important;
  font-family: "FuturaBookC", arial, sans-serif;
  font-size: 13px;
  color: #333;
  text-transform: capitalize; }
.select-wrap .select-drop div#region-input input[type="text"] {
  float: left;
  border: 1px solid #7da3cf;
  height: 38px;
  width: 350px;
  padding: 1px 20px 0 20px; }
.select-wrap .select-drop div#region-input input[type="text"].error {
  border-color: #cfa37d; }
.select-wrap .select-drop div#region-input input[type="text"]::-webkit-input-placeholder, .select-wrap .select-drop div#region-input input[type="text"]::-moz-placeholder, .select-wrap .select-drop div#region-input input[type="text"]:-moz-placeholder, .select-wrap .select-drop div#region-input input[type="text"]:-ms-input-placeholder {
  color: #333;
  font-family: "FuturaBookC", arial, sans-serif;
  font-size: 14px;
  text-transform: none; }
.select-wrap .select-drop div#region-input ul {
  position: absolute;
  list-style: none;
  -webkit-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.3);
  z-index: 1; }
.select-wrap .select-drop div#region-input ul li {
  list-style: none;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer; }
.select-wrap .select-drop div#region-input ul li:hover {
  background-color: #4d739f; }
.select-wrap .select-drop div#region-input ul li:hover a {
  color: #fff; }
.select-wrap .select-drop div#region-input ul li a {
  display: block;
  padding: 10px;
  font-family: "FuturaBookC", arial, sans-serif;
  color: #4d739f; }
.select-wrap .select-drop input[type="button"] {
  width: 108px;
  height: 41px;
  float: left;
  margin: 0 0 0 6px;
  background-color: #4d739f;
  font-family: "FuturaBookC", arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer; }
.select-wrap .select-drop span.popular {
  display: block;
  width: 100%;
  float: left;
  font-size: 16px;
  font-family: "FuturaBookC", arial, sans-serif;
  color: #333;
  text-transform: uppercase;
  height: 50px;
  line-height: 58px; }
.select-wrap .select-drop ul.popular {
  position: relative;
  display: block;
  float: left;
  list-style: none; }
.select-wrap .select-drop ul.popular li {
  display: inline-block;
  width: 50%;
  line-height: 12px;
  font-family: "FuturaBookC", arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #333; }
.select-wrap .select-drop ul.popular li a {
  color: #4d739f;
  text-decoration: underline;
  cursor: pointer; }
.select-wrap .select-drop ul.popular li a:hover {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
