.breadcrumb
	list-style none
	font-size 11px

	&::after
		display table
		clear both
		content ""

	&__item
		float left
		color #333

		& + &
			&::before
				padding-right .15rem
				padding-left .15rem
				content "›"

		a&
			text-decoration none
			opacity .6

			&:hover
			&:focus
				opacity 1

		&.active
		&.active:hover
		&.active:focus
			opacity 1

.breadcrumb--page
	margin-left 12px
	margin-bottom 12px
	position relative
	z-index 1
