.swiper-container.swiper-container--slide-main
  .swiper-wrapper
    article.teaser-news.teaser-news--slide-main.swiper-slide
      .teaser-news__image.teaser-news__image--h-270.uk-overlay(style='background-image:url(assets/images/uploads/slide_news_510_270.jpg);')
        img.uk-invisible(src='assets/images/uploads/slide_news_510_270.jpg', alt='', width='510', height='270')
        .uk-overlay-panel.uk-overlay-background
        .uk-overlay-panel.uk-overlay-background-pattern
        .teaser-news__panel.teaser-news__panel--overlay.teaser-news__panel--transparent
          div
            h6.teaser-news__title
              | Комус-упаковка приняла участие в выставке RosUpack.
            .teaser-news__text.teaser-news__text--line-3
              p
                | Выставка RosUpack – самая маштабная выставка упаковки, упаковочного оборудования, технологий и материалов России, странах СНГ и Восточной
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-date Сегодня, 10:16
              span.teaser-news__toolbar-text-alt
                i.icon.icon--comment-white-xs
                span 0
              span.teaser-news__toolbar-text-alt
                i.icon.icon--smotr-white-xs
                span 49
              span.teaser-news__toolbar-spacer
    article.teaser-news.teaser-news--slide-main.swiper-slide
      .teaser-news__image.teaser-news__image--h-270.uk-overlay(style='background-image:url(assets/images/uploads/slide_news_510_270.jpg);')
        img.uk-invisible(src='assets/images/uploads/slide_news_510_270.jpg', alt='', width='510', height='270')
        .uk-overlay-panel.uk-overlay-background
        .uk-overlay-panel.uk-overlay-background-pattern
        .teaser-news__panel.teaser-news__panel--overlay.teaser-news__panel--transparent
          div
            h6.teaser-news__title
              | Комус-упаковка приняла участие в выставке RosUpack.
            .teaser-news__text.teaser-news__text--line-3
              p
                | Выставка RosUpack – самая маштабная выставка упаковки, упаковочного оборудования, технологий и материалов России, странах СНГ и Восточной
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-date Сегодня, 10:16
              span.teaser-news__toolbar-text-alt
                i.icon.icon--comment-white-xs
                span 0
              span.teaser-news__toolbar-text-alt
                i.icon.icon--smotr-white-xs
                span 49
              span.teaser-news__toolbar-spacer
  .swiper-pagination
  .swiper-button-next
  .swiper-button-prev
