.navigation
	listReset()
	display flex
	flex-wrap nowrap
	box-sizing border-box

.navigation__item
	display flex

.navigation__link
	color rgb(66, 66, 66)
	text-decoration none
	margin 0
	font-size 14px
	font-weight 400
	line-height 24px
	letter-spacing 0
	opacity 0.87

	.mdi
	.icon
		vertical-align middle
