include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../icon/icon

doctype html
html(lang='ru')
	include ../head/head
	+page(class=pageClass || '')
		block content
		+scripts(['app.min.js'])
