#menu.uk-offcanvas
  .uk-offcanvas-bar.uk-offcanvas-bar--menu
    ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon(data-uk-nav='')
      li.uk-nav-city
        a(href='#')
          i.icon.icon--pin-white-xs
          span.title Ваш город:
          span.name Оренбург
          i.mdi.mdi-menu-down
      li.uk-nav-divider
      li.uk-nav-button
        a(href='#') Войти
      li.uk-nav-button
        a(href='#') Регистрация
      li.uk-nav-divider
      li.uk-parent
        a(href='#') Каталог организаций
        ul.uk-nav-sub
          li
            a(href='#') Упаковка и тара
          li
            a(href='#') Полиграфическое оборудование и материалы
          li
            a(href='#') Упаковочное оборудование
      li.uk-parent
        a(href='#') Торговая площадка
        ul.uk-nav-sub
          li
            a(href='#') Пункт один
          li
            a(href='#') Пункт два
      li.uk-nav-divider
      li.uk-nav-header Мы в социальных сетях
      li
        a(href='#')
          i.mdi.mdi-vk
          |  Vkontakte
      li
        a(href='#')
          i.mdi.mdi-odnoklassniki
          |  Odnoklassniki
      li
        a(href='#')
          i.mdi.mdi-facebook
          |  Facebook
      li
        a(href='#')
          i.mdi.mdi-youtube-play
          |  Youtube
