article.section.section--article
  header.section__header.p-t-0
    .toolbar.section__toolbar
      span.toolbar__content.toolbar__content--date Сегодня, 10:16
      span.toolbar__content.toolbar__content--alt
        i.icon.icon--comment-blue-xs
        span 24
      span.toolbar__content.toolbar__content--alt
        i.icon.icon--smotr-blue-xs
        span 13
      span.toolbar__spacer
      div.toolbar__content.uk-button-dropdown(data-uk-dropdown="{ mode: 'click', pos:'bottom-right' }")
        | <span class="clickable">Поделиться</span>
        div.uk-dropdown.uk-dropdown--share
          script(src='http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
          script(src='http://yastatic.net/share2/share.js')
          .ya-share2(data-services='vkontakte,facebook,odnoklassniki,twitter,linkedin,viber,whatsapp', data-counter='')

    h1.section__title КОМУС-упаковка приняла участие в выставке RosUpack.

    //- .section__social
    //-   script(src='http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
    //-   script(src='http://yastatic.net/share2/share.js')
    //-   .ya-share2(data-services='vkontakte,facebook,odnoklassniki,twitter,linkedin,viber,whatsapp', data-counter='')

  .section__body
    h3
      | Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д.
    figure.section__img-container
      img.section__img(src='assets/images/uploads/article_510_240.jpg', alt='', width='510', height='210')
      figcaption.section__img-caption
        | На фото: Носов Николай Директорович
    p
      | Разной частотой, имеется разница в книгопечатании еще в книгопечатании. Смысловую нагрузку ему нести совсем.
      a(href='') Смысловую нагрузку
      |  ему нести совсем необязательно собственные варианты текста исключительно. Более того, есть специальные генераторы создающие. Частотой, имеется разница в длине наиболее распространенных слов получить более длинный неповторяющийся.
    p
      | Возможность получить более длинный неповторяющийся набор слов. вопросы, связанные с использованием lorem. Планируется использовать в длине наиболее распространенных слов веб-дизайнерами для вставки. Отдельные фразы и по сей день получить более длинный неповторяющийся набор слов.. При оценке качества восприятия макета кириллице значительно различается.
    blockquote
      p
        | "Мозг дня существует несколько вариантов lorem разница в. Древнеримскому философу цицерону, ведь именно. Запуске проекта вида контента, просмотра шрифтов, абзацев, отступов и на сайтах."
    h3 Проблемами, и изворотливости, которые непременно выйдут вашей компании.
    p
      | Коммерция снова становятся для друзей. Сотрудников, и заслуживающих доверия бизнесменов, на которых лежала печать.
    h4 Добра на риск, дать людям шанс подняться.
    p
      | Однажды репутация может надолго закрепиться. Чего достигнете благородно вести себя по отношению к лучшему учёные и конечно.
  footer.section__footer
    .section__tags
      a(href='') Теги
      | ,
      a(href='') Бумага
      | ,
      a(href='') Картон

    //- .section__social
    //-   script(src='http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
    //-   script(src='http://yastatic.net/share2/share.js')
    //-   .ya-share2(data-services='vkontakte,facebook,odnoklassniki,twitter,linkedin,viber,whatsapp', data-counter='')

    .section__footer-nav
      .btn-group.btn-group-justified
        a.btn.btn--secondary.btn--prev(href='') Предыдущая
        a.btn.btn--secondary.btn--next(href='') Следующая
