.section
	&__header
		display flex
		box-sizing border-box
		flex-direction row
		flex-wrap nowrap
		overflow hidden
		position relative
		align-items center

		&-primary-content
			order 0
			flex-grow 2
			box-sizing border-box
			display flex
			align-items center

		&-secondary-content
			display flex
			align-items center
			justify-content flex-end
			margin-left 15px

		&-secondary-action
			font-size 12px
			display inline-block
			vertical-align middle
			margin-top 4px

			.mdi
				float left

	&__title
		color #4d4d4d
		line-height normal

		&--page
			font-size 28px
			font-weight 300


	&__hr
	&__header
	&__toolbar
	&__list
		margin-top 0
		margin-bottom 15px

