.toolbar.toolbar--sm.section__toolbar
  .toolbar__item
    span.toolbar__title.toolbar__title-muted Всего найдено:
    span.toolbar__content 5681
  .toolbar__item
    span.toolbar__title.toolbar__title-muted Показать по:
    span.toolbar__content
      a(href='')
        | 28 на стр.
        i.mdi.mdi-chevron-down
  .toolbar__spacer
  .toolbar__item
    span.toolbar__title.toolbar__title-muted Сортировать:
    span.toolbar__content
      a(href='')
        | По популярности
        i.mdi.mdi-chevron-down
