$teaset-news-transition = all 0.2s ease-in-out 0s

.teaser-news
	position relative

	+below(767px)
		width 100%

	&__row
		display flex
		flex-direction row
		flex-wrap nowrap
		flex-shrink 0
		box-sizing border-box
		align-self stretch

		.teaser-news--rubric &
			+below(767px)
				flex-direction column-reverse

		& > *
			-ms-flex-negative 0
			flex-shrink 0
			width 50%
			box-sizing border-box
			transition $teaset-news-transition

			+below(767px)
				width 100%
				border none

			.teaser-news--hoverable:hover &.teaser-news__panel
				border-color $background-color-base-hover

		& > .teaser-news__image
			width 50%

			+below(767px)
				display none

			.teaser-news--rubric &
				+below(767px)
					width 100%
					display block

		& > .teaser-news__panel
			// border 1px solid #e6e6e6
			border none

		&--reverse
			flex-direction row-reverse

			.teaser-news--rubric &
				+below(767px)
					flex-direction column-reverse

	&__title
		typo-title()
		font-family $font-family-sans-serif
		font-weight bold
		display block
		display -webkit-box
		-webkit-box-orient vertical
		overflow hidden
		text-overflow ellipsis
		word-wrap break-word

		&-link
			color inherit

		+below(767px)
			font-size 15px
			line-height 1.2

		.teaser-news--slide-main &
			font-family $headings-font-family-bold
			font-size 23px
			font-weight normal
			line-height 1.21
			text-transform uppercase

			+below(767px)
				font-size 23px
				line-height 1.21

		.teaser-news--rubric &
			typo-display-1()
			font-family $font-family-sans-serif
			font-size 20px
			font-weight bold
			text-transform uppercase
			letter-spacing .1ex

			+below(767px)
				typo-display-1()
				font-family $font-family-sans-serif
				font-size 20px
				font-weight bold
				text-transform uppercase
				letter-spacing .1ex

		&--line-2
			max-height 34px
			-webkit-line-clamp 2

			+below(767px)
				max-height 36px

		&--line-3
			max-height 51px
			-webkit-line-clamp 3

			+below(767px)
				max-height 54px

		a
			transition $teaset-news-transition

		&
		a
		a:focus
		a:hover
			color #4d4d4d

			.teaser-news__panel--inverse &
			.teaser-news__panel--transparent &
				color #fff

		a
			text-decoration none

			.teaser-news--hoverable:hover &
				text-decoration underline

		.teaser-news--hoverable:hover &
			&
			& a
			& a:focus
			& a:hover
				color #fff

	&__subhead
		typo-subhead()
		font-weight normal
		line-height 17px
		color inherit

	&__text
		typo-body-small()

		+below(767px)
			font-size 13px
			line-height 1.3846

		a
			text-decoration none

		p
			display -webkit-box
			-webkit-box-orient vertical
			overflow hidden
			text-overflow ellipsis
			word-wrap break-word
			margin 0

		&--line-3
			height 51px

			+below(767px)
				height 54px

			p
				max-height 51px
				-webkit-line-clamp 3

				+below(767px)
					max-height 54px

		&--line-4
			height 68px

			+below(767px)
				height 72px

			p
				max-height 68px
				-webkit-line-clamp 4

				+below(767px)
					max-height 72px

		&--line-5
			height 85px

			+below(767px)
				height 90px

			p
				max-height 85px
				-webkit-line-clamp 5

				+below(767px)
					max-height 90px

		&--line-6
			height 102px


			+below(767px)
				height 108px

			p
				max-height 102px
				-webkit-line-clamp 6

				+below(767px)
					max-height 108px

	&__panel
		position relative
		padding 15px 24px 28px
		background-color #fff
		color #4d4d4d
		transition $teaset-news-transition
		box-sizing border-box

		&--overlay
			position absolute
			top 0
			right 0
			bottom 0
			left 0

		&--inverse
			background-color $background-color-inverse
			color #fff

		&--transparent
			background-color transparent
			color #fff

		.teaser-news--slide-main &
			display flex
			align-items center
			padding-top 45px
			padding-right 63px
			padding-bottom 35px

		.teaser-section--p-alt &
			padding-left 20px
			padding-right 28px
			padding-top 20px
			padding-bottom 33px

		.teaser-news--rubric &
			padding-top 25px
			padding-bottom 35px
			min-height 215px

		a
			color inherit

		.teaser-news--hoverable:hover &
			background-color $background-color-base-hover
			border-color $background-color-base-hover
			color #fff

		&-footer
			position absolute
			padding 0 24px 15px
			left 0
			right 0
			bottom 0

			.teaser-section--p-alt &
				padding-left 20px
				padding-right 28px
				padding-bottom 20px

			.teaser-news--slide-main &
				padding-bottom 25px

			.teaser-news--rubric &
				padding-bottom 35px

		&-arrow-top
		&-arrow-left
		&-arrow-right
			transition $teaset-news-transition
			content ''
			display block
			width 0
			height 0
			border-style solid
			position absolute
			z-index 1

			+below(767px)
				display none

		&-arrow-top
			bottom 100%
			left 50%
			margin-left -15px
			border-width 0 15px 15px 15px
			border-color transparent transparent #fff transparent

			.teaser-news__panel--inverse &
				border-color transparent transparent $background-color-inverse transparent

			.teaser-news--hoverable:hover &
				// border-image $background-image-pattern
				border-color transparent transparent $background-color-base-hover transparent

		&-arrow-left
			border-width 15px 15px 15px 0
			border-color transparent #fff transparent transparent
			right 100%
			top 50%
			margin-top -15px
			transition $teaset-news-transition

			.teaser-news__panel--inverse &
				border-color transparent $background-color-inverse transparent transparent

			.teaser-news--hoverable:hover &
				border-color transparent $background-color-base-hover transparent transparent

		&-arrow-right
			border-width 15px 0 15px 15px
			border-color transparent transparent transparent #fff
			left 100%
			top 50%
			margin-top -15px
			transition $teaset-news-transition

			.teaser-news__panel--inverse &
				border-color transparent transparent transparent $background-color-inverse

			.teaser-news--hoverable:hover &
				border-color transparent transparent transparent $background-color-base-hover

	&__toolbar
		display flex
		flex-direction row
		flex-wrap nowrap
		flex-shrink 0
		box-sizing border-box
		align-self stretch
		typo-caption()

		+below(767px)
			font-size 11px

		& > *
			-ms-flex-negative 0
			flex-shrink 0
			margin-left 10px

			&:first-child
				margin-left 0

		&-spacer
			-ms-flex-positive 1
			flex-grow 1

		a
			transition $teaset-news-transition
			text-decoration none

		&
		a
		a:focus
		a:hover
			color #999

			.teaser-news__panel--inverse &
			.teaser-news__panel--transparent &
				color #fff

		&-text-alt
			color #4d739f

			.teaser-news--hoverable:hover &
				color #aebfd3

			.teaser-news__panel--inverse &
				color #fff

		.teaser-news--hoverable:hover &
			& a
				transition $teaset-news-transition

			&
			& a
				color #aebfd3

			& a:focus
			& a:hover
				color #fff

		.icon
			margin-left 3px
			margin-right 3px

			&:first-child
				margin-left 0

			&:last-child
				margin-right 0

		&-date
			margin-right 15px

	&__toolbar
	&__title
	&__text
		margin-bottom 9px

		&:last-child
			margin-bottom 0

		.teaser-news--slide-main &
			margin-bottom 15px

			&:last-child
				margin-bottom 0

	&__image
		background-position 50% 50%
		background-size cover
		background-repeat no-repeat
		overflow hidden
		display block

		& > a
			display block
			height 100%

		&--h-215
			height 215px

		&--h-240
			height 240px

		&--h-270
			height 270px

		&--small
			width 55px
			height 55px

		&--small-2
			width 60px
			height 60px

		img
			width auto
			height auto
			min-width 101%
			min-height 101%
			max-width none
			position relative
			left 50%
			top 50%
			transform translate(-50%, -50%)

		&--left
			float left
			margin-right 10px

		&--right
			float right
			margin-left 10px

		&-overlay-panel
			padding 25px

			.teaser-news--slide-main &
				padding-right 33%

	&__content
		display block
		overflow hidden

	.teaser-section__list &--hoverable:hover
		z-index 2

	.teaser-section__list & + &
		margin-top -1px

	.teaser-section__list &--sep + &--sep
		&:before
			content ''
			display block
			border-top 1px solid #e6e6e6
			position absolute
			top 0
			left 24px
			right 24px
			z-index 1

		&.teaser-news--hoverable:hover:before
			display none

	.teaser-section--p-alt .teaser-section__list &--sep + &--sep
		&:before
			left 20px
			right 28px

.teaser-section
	background-color #fff

	.nano
		background-color #fff

	& > .typography--space
		.teaser-section--p-alt&
			padding-top 20px
			padding-left 20px
			padding-right 28px

		.teaser-section--p-alt2&
			padding-top 25px

			+below(767px)
				padding-top 20px

	&__more
		margin-top 0

.teaser-news__cover-link
	position absolute
	left 0
	top 0
	right 0
	bottom 0

.teaser-hr
	border-top 1px solid #e6e6e6

.teaser-news--rubric
	&
		+below(767px)
			border-top 5px solid #414a5a
			border-bottom 5px solid #414a5a

	&:first-child
		+below(767px)
			border-top 10px solid #414a5a

	&:last-child
		+below(767px)
			border-bottom 10px solid #414a5a
