section.teaser-section
  .teaser-section__list
    article.teaser-news.teaser-news--rubric.teaser-news--hoverable.uk-overlay-hover
      .teaser-news__row
        header.teaser-news__panel
          h3.teaser-news__title
            a(href='')
              | Справочник упаковщика
          h6.teaser-news__subhead
            | Термины, статьи, важная информация
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-text 10674 публикаций
          .teaser-news__panel-arrow-right
        .teaser-news__image.teaser-news__image--h-215
          a.uk-overlay-scale(href='')
            img(src='assets/images/teaser_news_rubric_255_215_01.jpg', alt='', width='255', height='215')
    article.teaser-news.teaser-news--rubric.teaser-news--hoverable.uk-overlay-hover
      .teaser-news__row.teaser-news__row--reverse
        header.teaser-news__panel
          h3.teaser-news__title
            a.uk-overlay-scale(href='')
              | Образование
          h6.teaser-news__subhead
            | Учебные заведения, ВУЗЫ отрасли
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-text 10674 публикаций
          .teaser-news__panel-arrow-left
        .teaser-news__image.teaser-news__image--h-215
          a.uk-overlay-scale(href='')
            img(src='assets/images/teaser_news_rubric_255_215_01.jpg', alt='', width='255', height='215')
    article.teaser-news.teaser-news--rubric.teaser-news--hoverable.uk-overlay-hover
      .teaser-news__row
        header.teaser-news__panel
          h3.teaser-news__title
            a(href='')
              | Вакансии
          h6.teaser-news__subhead
            | Для тех, кто ищет работу
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-text 10674 публикаций
          .teaser-news__panel-arrow-right
        .teaser-news__image.teaser-news__image--h-215
          a.uk-overlay-scale(href='')
            img(src='assets/images/teaser_news_rubric_255_215_01.jpg', alt='', width='255', height='215')
    article.teaser-news.teaser-news--rubric.teaser-news--hoverable.uk-overlay-hover
      .teaser-news__row.teaser-news__row--reverse
        header.teaser-news__panel
          h3.teaser-news__title
            a(href='')
              | Резюме
          h6.teaser-news__subhead
            | Для тех, кто ищет специалистов
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-text 10674 публикаций
          .teaser-news__panel-arrow-left
        .teaser-news__image.teaser-news__image--h-215
          a.uk-overlay-scale(href='')
            img(src='assets/images/teaser_news_rubric_255_215_01.jpg', alt='', width='255', height='215')
    article.teaser-news.teaser-news--rubric.teaser-news--hoverable.uk-overlay-hover
      .teaser-news__row
        header.teaser-news__panel
          h3.teaser-news__title
            a(href='')
              | Полезные ссылки
          h6.teaser-news__subhead
            | Самые необходимые и полезные ссылки
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-text 10674 публикаций
          .teaser-news__panel-arrow-right
        .teaser-news__image.teaser-news__image--h-215
          a.uk-overlay-scale(href='')
            img(src='assets/images/teaser_news_rubric_255_215_01.jpg', alt='', width='255', height='215')
    article.teaser-news.teaser-news--rubric.teaser-news--hoverable.uk-overlay-hover
      .teaser-news__row.teaser-news__row--reverse
        header.teaser-news__panel
          h3.teaser-news__title
            a(href='')
              | Технологии
          h6.teaser-news__subhead
            | Текст о технологиях
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-text 10674 публикаций
          .teaser-news__panel-arrow-left
        .teaser-news__image.teaser-news__image--h-215
          a.uk-overlay-scale(href='')
            img(src='assets/images/teaser_news_rubric_255_215_01.jpg', alt='', width='255', height='215')
