section.teaser-section.layout-widget-2
  #med-slider.teaser-section__list
    article.teaser-news.slide.i1
      .teaser-news__image.teaser-news__image--h-240.uk-overlay(style='background-image:url(http://placehold.it/510x240);')
        a(href='')
          img.uk-invisible(src='http://placehold.it/255x240', alt='', width='255', height='240')
          span.uk-overlay-panel.typography--headline.uk-overlay-background-alt.teaser-news__image-overlay-panel
            span.pull-xs-left Интервью
            span.pull-xs-right 1/1
      .teaser-news__panel.teaser-news__panel--inverse
        h6.teaser-news__title.teaser-news__title--line-3
          a(href='')
            | Ставропольские предприятия по производству медицинской тары входят в рабочий режим
        .teaser-news__text.teaser-news__text--line-5
          p
            | На Новоалександровском стеклотарном заводе начала работу вторая печь, в скором времени это позволит сократить нехватку стеклянной медицинской тары и стеклянной медицинской тары и
        .teaser-news__toolbar
          span.teaser-news__toolbar-date Сегодня, 10:16
          span.teaser-news__toolbar-text-alt
            i.icon.icon--comment-white-xs
            span 0
          span.teaser-news__toolbar-text-alt
            i.icon.icon--smotr-white-xs
            span 49
          span.teaser-news__toolbar-spacer
        .teaser-news__panel-arrow-top
  a.btn.btn-block.btn--more.btn--more--inverse.teaser-section__more(href='')
    | Все интервью
