section.teaser-section.teaser-section--p-alt2.layout-widget-4
  h5.typography--headline.typography--space Выбор читателей
  .teaser-section__list.nano.js-nano-responsive
    .nano-content
      article.teaser-news.teaser-news--hoverable.teaser-news--sep
        header.teaser-news__panel
          .teaser-news__toolbar
            span.teaser-news__toolbar-date Сегодня, 10:16
            span.teaser-news__toolbar-text-alt
              i.icon.icon--comment-blue-xs
              span 0
            span.teaser-news__toolbar-text-alt
              i.icon.icon--smotr-blue-xs
              span 49
            span.teaser-news__toolbar-spacer
          h6.teaser-news__title.teaser-news__title--line-2
            a(href='')
              | Ставропольские предприятия по производству медицинской тары входят в рабочий режим
          .teaser-news__text.teaser-news__text--line-3
            p
              | На Новоалек сандровском стеклотарном заводе начала работу вторая печь, в скором времени это позволит сократить нехватку стеклянной медицинской тары и стеклянной медицинской тары и
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-tags
                a(href='') Теги
                | ,
                a(href='') Бумага
                | ,
                a(href='') Картон
              span.teaser-news__toolbar-spacer
              i.icon.icon--video-blue-xs
              i.icon.icon--foto-blue-xs
      article.teaser-news.teaser-news--hoverable.teaser-news--sep
        header.teaser-news__panel
          .teaser-news__toolbar
            span.teaser-news__toolbar-date Сегодня, 10:16
            span.teaser-news__toolbar-text-alt
              i.icon.icon--comment-blue-xs
              span 0
            span.teaser-news__toolbar-text-alt
              i.icon.icon--smotr-blue-xs
              span 49
            span.teaser-news__toolbar-spacer
          h6.teaser-news__title.teaser-news__title--line-2
            a(href='')
              | Ставропольские предприятия по производству медицинской тары входят в рабочий режим
          .teaser-news__text.teaser-news__text--line-3
            p
              | На Новоалек сандровском стеклотарном заводе начала работу вторая печь, в скором времени это позволит сократить нехватку стеклянной медицинской тары и стеклянной медицинской тары и
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-tags
                a(href='') Теги
                | ,
                a(href='') Бумага
                | ,
                a(href='') Картон
              span.teaser-news__toolbar-spacer
              i.icon.icon--foto-blue-xs
      article.teaser-news.teaser-news--hoverable.teaser-news--sep
        header.teaser-news__panel
          .teaser-news__toolbar
            span.teaser-news__toolbar-date Сегодня, 10:16
            span.teaser-news__toolbar-text-alt
              i.icon.icon--comment-blue-xs
              span 0
            span.teaser-news__toolbar-text-alt
              i.icon.icon--smotr-blue-xs
              span 49
            span.teaser-news__toolbar-spacer
          h6.teaser-news__title.teaser-news__title--line-2
            a(href='')
              | Ставропольские предприятия по производству медицинской тары входят в рабочий режим
          .teaser-news__text.teaser-news__text--line-3
            p
              | На Новоалек сандровском стеклотарном заводе начала работу вторая печь, в скором времени это позволит сократить нехватку стеклянной медицинской тары и стеклянной медицинской тары и
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-tags
                a(href='') Теги
                | ,
                a(href='') Бумага
                | ,
                a(href='') Картон
              span.teaser-news__toolbar-spacer
              i.icon.icon--video-blue-xs
              i.icon.icon--foto-blue-xs
      article.teaser-news.teaser-news--hoverable.teaser-news--sep
        header.teaser-news__panel
          .teaser-news__toolbar
            span.teaser-news__toolbar-date Сегодня, 10:16
            span.teaser-news__toolbar-text-alt
              i.icon.icon--comment-blue-xs
              span 0
            span.teaser-news__toolbar-text-alt
              i.icon.icon--smotr-blue-xs
              span 49
            span.teaser-news__toolbar-spacer
          h6.teaser-news__title.teaser-news__title--line-2
            a(href='')
              | Ставропольские предприятия по производству медицинской тары входят в рабочий режим
          .teaser-news__text.teaser-news__text--line-3
            p
              | На Новоалек сандровском стеклотарном заводе начала работу вторая печь, в скором времени это позволит сократить нехватку стеклянной медицинской тары и стеклянной медицинской тары и
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-tags
                a(href='') Теги
                | ,
                a(href='') Бумага
                | ,
                a(href='') Картон
              span.teaser-news__toolbar-spacer
              i.icon.icon--foto-blue-xs
      article.teaser-news.teaser-news--hoverable.teaser-news--sep
        header.teaser-news__panel
          .teaser-news__toolbar
            span.teaser-news__toolbar-date Сегодня, 10:16
            span.teaser-news__toolbar-text-alt
              i.icon.icon--comment-blue-xs
              span 0
            span.teaser-news__toolbar-text-alt
              i.icon.icon--smotr-blue-xs
              span 49
            span.teaser-news__toolbar-spacer
          h6.teaser-news__title.teaser-news__title--line-2
            a(href='')
              | Ставропольские предприятия по производству медицинской тары входят в рабочий режим
          .teaser-news__text.teaser-news__text--line-3
            p
              | На Новоалек сандровском стеклотарном заводе начала работу вторая печь, в скором времени это позволит сократить нехватку стеклянной медицинской тары и стеклянной медицинской тары и
          .teaser-news__panel-footer
            .teaser-news__toolbar
              span.teaser-news__toolbar-tags
                a(href='') Теги
                | ,
                a(href='') Бумага
                | ,
                a(href='') Картон
              span.teaser-news__toolbar-spacer
              i.icon.icon--foto-blue-xs
  button.btn.btn-block.btn--more.teaser-section__more
    | Все новости
