.big-slider.layout-widget-0
  //
    -
    <ul class="slide-pagi slick-dots">
    <li class=" slide-1 active"></li>
    <li class=" slide-2"></li>
    <li class=" slide-3"></li>
    </ul>
  #main_slider
    .slide.i1
      .slide-cont
        p.typography--subhead 21-Я МЕЖДУНАРОДНАЯ ВЫСТАВКА "РОСУПАК"
        h2.typography--display-2
          | RosUpack - 2016
          br
          | как это было
          br
        p.typography--body
          | Отраслевой портал «ИнформУпак» принял
          br
          | участие в 21-й международной выставке упаковочной индустрии RosUpack-2016
        a.fancybox-media.podrobnee(href='https://youtu.be/p01um_ZTdzc')
          span Подробнее
      .big-slider-opac
      img(src='https://informupack.ru/upload/iblock/0c4/0c464a878ca28f9036429da4fc7ddef3.jpg', alt='')
    .slide.i2
      .slide-cont
        h2.typography--display-2
          | INFORMUPACK.RU
          br
          | Новые Горизонты
        span.pometka *Отраслевой портал
        p.typography--body
          | ИнформУпак – портал, которого ждали все. Это абсолютно новый, амбициозный проект, готовый стать лидером!
          br
        a.podrobnee(href='https://informupack.ru/information/about/')
          span Подробнее
      .big-slider-opac
      img(src='https://informupack.ru/upload/iblock/e77/e771cba62dd749bad81cae4936919dba.jpg', alt='')
    .slide.i3
      .slide-cont
        p.typography--subhead Мы скоро запустим наш 2 проект
        h2.typography--display-2
          | Global social network for packers
          br
        span.pometka
        p.typography--body
          br
        a.podrobnee(href='https://informupack.ru/news/3392/')
          span Подробнее
      .big-slider-opac
      img(src='https://informupack.ru/upload/iblock/06c/06c777dff9394df98d52c6a8b6bb6dc6.jpg', alt='')
  .banner.big-slider__banner
    img.banner__image(src='assets/images/uploads/banner-placehold-512x100.png', alt='Место для вашей рекламы', width='512', height='100')
    span.banner__footer
      a.banner__footer-link(href='') ads.informupack.ru
