.footer
  .top-activnih
    .top-activnih-text
      span Топ самых активных
      a(href='https://informupack.ru/information/access/') Как попасть в топ?
    .top-activnih-line
      #bx_3099439860_3001.top-activnih-obj
        a(href='https://informupack.ru/company/183/3001/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/b04/82_82_2/b040cbc896ee62f09640b25b43716651.jpg', alt='ПрофПак.рф')
        a.comp-name-top(href='https://informupack.ru/company/183/3001/', title='ПрофПак.рф', style='overflow: hidden; line-height: 22px;height:22px;') ПрофПак.рф
        span.comp-name-rating 369
      #bx_3099439860_3046.top-activnih-obj
        a(href='https://informupack.ru/company/2696/3046/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/5bb/82_82_2/5bbc76476c70eaf41566ad8382907254.jpg', alt='ИП Бушнева Ольга Николаевна')
        a.comp-name-top(href='https://informupack.ru/company/2696/3046/', title='ИП Бушнева Ольга Николаевна', style='overflow: hidden; line-height: 22px;height:22px;') ИП Бушнева Ольга Николаевна
        span.comp-name-rating 362
      #bx_3099439860_2992.top-activnih-obj
        a(href='https://informupack.ru/company/204/2992/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/400/82_82_2/400759de6a9e9ce4ab538a9c948cbe3f.png', alt='ООО РуСнА')
        a.comp-name-top(href='https://informupack.ru/company/204/2992/', title='ООО РуСнА', style='overflow: hidden; line-height: 22px;height:22px;') ООО РуСнА
        span.comp-name-rating 269
      #bx_3099439860_1545.top-activnih-obj
        a(href='https://informupack.ru/company/218/1545/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/993/82_82_2/9938b62b587ae35d7fc114195c8fdaab.png', alt='Элементарные машины ')
        a.comp-name-top(href='https://informupack.ru/company/218/1545/', title='Элементарные машины ', style='overflow: hidden; line-height: 22px;height:22px;') Элементарные машины
        span.comp-name-rating 248
      #bx_3099439860_2928.top-activnih-obj
        a(href='https://informupack.ru/company/704/2928/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/d15/82_82_2/d15229214381b859d2e815bdf36ec1f0.bmp.jpg', alt='МередианУпак')
        a.comp-name-top(href='https://informupack.ru/company/704/2928/', title='МередианУпак', style='overflow: hidden; line-height: 22px;height:22px;') МередианУпак
        span.comp-name-rating 154
      #bx_3099439860_2836.top-activnih-obj
        a(href='https://informupack.ru/company/457/2836/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/b4b/82_82_2/b4b05df4f2c878fe8bd9a956adc53dd0.jpg', alt='ООО ЗЭТ СТИЛЬ')
        a.comp-name-top(href='https://informupack.ru/company/457/2836/', title='ООО ЗЭТ СТИЛЬ', style='overflow: hidden; line-height: 22px;height:22px;') ООО ЗЭТ СТИЛЬ
        span.comp-name-rating 145
      #bx_3099439860_3449.top-activnih-obj
        a(href='https://informupack.ru/company/352/3449/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/2c3/82_82_2/2c3f2c0e0cf87ba95cf0e87a760c6c23.jpg', alt='АПОЛИНАРИЯ')
        a.comp-name-top(href='https://informupack.ru/company/352/3449/', title='АПОЛИНАРИЯ', style='overflow: hidden; line-height: 22px;height:22px;') АПОЛИНАРИЯ
        span.comp-name-rating 138
      #bx_3099439860_2922.top-activnih-obj
        a(href='https://informupack.ru/company/1545/2922/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/3d4/82_82_2/3d4da49476fc260cf44614b8e60411d6.png', alt='КвадроКом')
        a.comp-name-top(href='https://informupack.ru/company/1545/2922/', title='КвадроКом', style='overflow: hidden; line-height: 22px;height:22px;') КвадроКом
        span.comp-name-rating 138
      #bx_3099439860_2923.top-activnih-obj
        a(href='https://informupack.ru/company/1727/2923/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/ffc/82_82_2/ffc384ee48c9755b3be8a4636387700b.jpg', alt='Мк Арнита')
        a.comp-name-top(href='https://informupack.ru/company/1727/2923/', title='Мк Арнита', style='overflow: hidden; line-height: 22px;height:22px;') Мк Арнита
        span.comp-name-rating 133
      #bx_3099439860_3366.top-activnih-obj
        a(href='https://informupack.ru/company/353/3366/')
          img(src='https://informupack.ru/upload/resize_cache/iblock/b10/82_82_2/b1062585a968db37cc7f4d32ab3d95b8.png', alt='ЗАО БОЛОТНИНСКАЯ ГОФРОТАРА')
        a.comp-name-top(href='https://informupack.ru/company/353/3366/', title='ЗАО БОЛОТНИНСКАЯ ГОФРОТАРА', style='overflow: hidden; line-height: 22px;height:22px;') ЗАО БОЛОТНИНСКАЯ ГОФРОТАРА
        span.comp-name-rating 131
  .niz-footer
    .niz-footer-col.hidden-xs-down
      span.mi-soc Мы в соц. медиа:
      span.soc-icon
        a.vk(href='https://vk.com/public114365284', target='_blank')
        a.fb(href='https://www.facebook.com/informupack.ru', target='_blank')
        a.tw(href='https://twitter.com/informupack', target='_blank')
        a.ok(href='#')
        a.ma(href='http://my.mail.ru/community/informupack/', target='_blank')
      span.copyright
        | © 2015-2016 ООО «ИнформУпак»
        br
        | Все права защищены.
      #bx-composite-banner
        a.bx-composite-btn.bx-btn-white(target='_blank', href='http://www.1c-bitrix.ru/composite/', style='background-color: rgb(58, 66, 77);') Быстро с 1С-Битрикс
    .niz-footer-col
      ul.footer-ul
        li Карта сайта
        li
          a(href='https://informupack.ru/company/') Каталог предприятий
        li
          a(href='https://informupack.ru/news/') Новости, статьи
        li
          a(href='https://informupack.ru/index/') Котировки, индексы
        li
          a(href='https://informupack.ru/board/') Доска объявлений
        li
          script#bx24_form_link(data-skip-moving='true').
            (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
            (w[b].forms=w[b].forms||[]).push(arguments[0])};
            if(w[b]['forms']) return;
            s=d.createElement('script');r=1*new Date();s.async=1;s.src=u+'?'+r;
            h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
            })(window,document,'https://informupak.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');
            b24form({"id":"4","lang":"ru","sec":"b4w8l1","type":"link","click":""});
          a(style='cursor: pointer;') Обратная связь
    .niz-footer-col
      ul.footer-ul
        li Информация
        li
          a(href='https://informupack.ru/information/help/') Помощь
        li
          a(href='https://informupack.ru/information/about/') О проекте
        li
          a(href='https://informupack.ru/information/advertising/') Реклама на портале
        li
          a(href='https://informupack.ru/information/contact/') Контакты
        li
          a(href='https://informupack.ru/information/agreement/') Пользовательское соглашение
    #subscribe-form.niz-footer-col.hidden-sm-down
      ul.footer-ul
        li Подписаться
      form(action='/personal/subscribe')
        input#sf_RUB_ID_1(type='hidden', name='sf_RUB_ID[]', value='1')
        .find-field-footer
          input.input-text(type='text', name='sf_EMAIL', size='20', placeholder='Ваш e-mail', autocomplete='off', value='', title='')
          input.input-submit(type='submit', name='OK', value='')
      span.conf-info
        | Мы уважаем Вашу конфиденциальность. Мы не предоставляем и не продаем Вашу информацию третьим лицам.
    .niz-footer-col.niz-footer-col--width-1-1.hidden-md-up
      span.mi-soc Мы в соц. медиа:
      span.soc-icon
        a.vk(href='https://vk.com/public114365284', target='_blank')
        a.fb(href='https://www.facebook.com/informupack.ru', target='_blank')
        a.tw(href='https://twitter.com/informupack', target='_blank')
        a.ok(href='#')
        a.ma(href='http://my.mail.ru/community/informupack/', target='_blank')
      span.copyright
        | © 2015-2016 ООО «ИнформУпак»
        br
        | Все права защищены.
      #bx-composite-banner
        a.bx-composite-btn.bx-btn-white(target='_blank', href='http://www.1c-bitrix.ru/composite/', style='background-color: rgb(58, 66, 77);') Быстро с 1С-Битрикс
