.page-top
  .page-top__row
    .top-informer
      span.top-time Сегодня 02.08.2016 09:27
      span.top-money
        span
          | USD ЦБ 67,05
          i.ar-up
        span
          | EUR ЦБ 74,37
          i.ar-down
      span.top-money
        span
          span.text-up NASD
          |  4842,75
        span
          span.text-down RTS
          |  927,30
      //
        <span class="top-weather">
        <i class="wicon w99"></i>
        -15°С
        </span>
    .page-top__spacer
.page-top-placeholder
