extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Новости отрасли';

block page
	- var pageClasses = 'page--layout-main'

block content
	.content
		.nano.layout-nano-content
			.nano-content
				.section__header.section__header--space.z-index-11.section__header--pattern
					.section__header-row
						.section__header-primary-content
							include ../blocks/breadcrumb/breadcrumb-news
						.section__header-secondary-content
							a.section__header-secondary-action.section__header-secondary-action--prev(href='')
								i.mdi.mdi-chevron-left
								| Назад
				section.section
					.section__header.section__header--space.section__header--pattern.p-t-0
						.section__header-row
							.section__header-primary-content
								h1.section__title.section__title--page Новости
							.section__header-secondary-content
								span.section__header-secondary-action-title Сортировать:
								a.section__header-secondary-action(href='')
									| По дате добавления
									i.mdi.mdi-chevron-down
						.section__header-tabs
							.btn-group.btn-group-justified(data-uk-switcher="{connect:'#tabs', active: 0}")
								a.btn.btn--tab.btn--arrow.uk-active(href='#')
									| Новое
								a.btn.btn--tab.btn--arrow(href='#')
									| Популярное
								a.btn.btn--tab.btn--arrow(href='#')
									| Рекомендуем
					#tabs.uk-switcher
						div.uk-active
							include ../blocks/swiper/swiper-container-slide-main-teaser-news
							.cell-two-col
								.col-100
									include ../blocks/teaser-news/teaser-section
						div 2
						div 3
		.cell-one-col.onmain
			.nano.layout-nano-cell-one-col
				.nano-content
					include ../blocks/teaser-news/teaser-section-lenta-reader-choise
					include ../blocks/teaser-news/teaser-section-press
