extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'КОМУС-упаковка приняла участие в выставке RosUpack.';

block page
	- var pageClasses = 'page--layout-main'

block content
	.content
		.m-section-header-container
			.section__header.section__header--space
				.section__header-row
					.section__header-primary-content
						include ../blocks/breadcrumb/breadcrumb-news
					.section__header-secondary-content
						a.section__header-secondary-action.section__header-secondary-action--prev(href='')
							i.mdi.mdi-chevron-left
							| Назад
			.section__hr.section__hr--header.section__hr--header--m-t-1
		.nano.layout-nano-content
			.nano-content
				include ../blocks/section/section-article

		.cell-one-col.onmain
			.nano.layout-nano-cell-one-col
				.nano-content
					include ../blocks/teaser-news/teaser-section-lenta-reader-choise
					include ../blocks/teaser-news/teaser-section-press
