.page-right
  .page-right__toggle
    .page-right__toggle-icon
  .cat-head
    span Каталог
    a(href='https://informupack.ru/information/help/') Добавить организацию
  .catalog-col-box
    .nano.layout-nano-catalog-col-box
      .nano-content
        a.group-cat(href='https://informupack.ru/company/97/')
          span.catorgname Упаковка и тара
          span.catorgnum 286 организаций
          .pattern
          .cat.num1
        a.group-cat(href='https://informupack.ru/company/98/')
          span.catorgname Полиграфическое оборудование и материалы
          span.catorgnum 268 организаций
          .pattern
          .cat.num2
        a.group-cat(href='https://informupack.ru/company/99/')
          span.catorgname Упаковочное оборудование
          span.catorgnum 273 организаций
          .pattern
          .cat.num3
        a.group-cat(href='https://informupack.ru/company/100/')
          span.catorgname Пищевое оборудование
          span.catorgnum 269 организаций
          .pattern
          .cat.num4
        a.group-cat(href='https://informupack.ru/company/101/')
          span.catorgname Упаковочные материалы и сырьё
          span.catorgnum 280 организаций
          .pattern
          .cat.num5
        a.group-cat(href='https://informupack.ru/company/102/')
          span.catorgname Оборудование для производства упаковки
          span.catorgnum 177 организаций
          .pattern
          .cat.num6
        a.group-cat(href='https://informupack.ru/company/103/')
          span.catorgname Полимерное оборудование и материалы
          span.catorgnum 203 организаций
          .pattern
          .cat.num7
        a.group-cat(href='https://informupack.ru/company/104/')
          span.catorgname Непищевое оборудование
          span.catorgnum 124 организаций
          .pattern
          .cat.num8
        a.group-cat(href='https://informupack.ru/company/105/')
          span.catorgname Торговля. Склад. Транспорт. Логистика
          span.catorgnum 111 организаций
          .pattern
          .cat.num9
        a.group-cat(href='https://informupack.ru/company/106/')
          span.catorgname Бренды. Торговые марки
          span.catorgnum 120 организаций
          .pattern
          .cat.num10
        a.group-cat(href='https://informupack.ru/company/info/')
          span.catorgname Полезная информация
          span.catorgnum
          .pattern
          .cat.num11
.page-right__tint
