.page-top
	+below(767px)
		position fixed
		top 0
		left 0
		right 0
		z-index 1111

		& + .page-top-placeholder
			display block
			height 28px

	&__row
		display flex
		flex-direction row
		flex-wrap nowrap
		flex-shrink 0
		box-sizing border-box
		align-self stretch
		align-items center

		& > *
			-ms-flex-negative 0
			flex-shrink 0

	&__spacer
		-ms-flex-positive 1
		flex-grow 1

.top-money
	span:nth-child(1)
		margin-right 0

	& > span + span
		margin-left 11px

.text-up
	color #8cc63f

.text-down
	color #ed1c24

.col50:nth-child(1)
	background-color #fff

.col-100
	width 100%

	+below(767px)
		width 100%
		max-width 510px


.nl-info
	font-family $font-family-base

	&__row
		display flex
		flex-direction row
		flex-wrap nowrap
		flex-shrink 0
		box-sizing border-box
		align-self stretch
		align-items center

		& > *
			-ms-flex-negative 0
			flex-shrink 0

	&__spacer
		-ms-flex-positive 1
		flex-grow 1

	.info-date
	.info-comment
	.info-smotr
	&__tags
		font-size 10px

	.info-date
		color #999

	.info-comment
	.info-smotr
		color #4d739f

	&__tags
		color #999

		a
			text-decoration none
			color #999

			&:focus
			&:hover
				color #4d4d4d

	&__icons
		.icon + .icon
			margin-left 3px

.cat-head
	position relative
	background-color $brand-primary
	background-image none

	&:before
		content ''
		display block
		width 33px
		position absolute
		left 0
		bottom 0
		height 100%
		background-image url('../images/shadow-cat-head.png')
		background-repeat no-repeat
		background-position 0 100%

		+below(767px)
			display none

	span
		letter-spacing .1ex

.group-cat
	position relative

	&:before
		content ''
		left 0
		top 0
		width 33px
		height 100%
		background-image url('../images/shadow-group-cat.png')
		background-repeat repeat-y
		background-position 0 0
		position absolute
		z-index 1

		+below(767px)
			display none

+below(943px)
	.cat-head
		background-image none

.catorgname
	font-weight bold
	letter-spacing .1ex

.catorgnum
	font-family $font-family-base

.flickity-page-dots
	.dot
		width 7px
		height 7px
		margin-left 4px
		margin-right 4px
		background-color #fff
		opacity 1
		box-sizing border-box

		&.is-selected
			background-color #4d739f

.tb-a a
	font-weight bold

.img-block-text
	letter-spacing .1ex

.med-slider
	.text-block
		padding 13px 24px

		.tb-text
		.nl-info
			padding 0
			margin 5px 0 0 0

			&:first-child
				margin-top 0

		.tb-a
			display block
			margin-bottom 10px

		.tb-text
			p
				margin 0

	.nl-info
		.info-date
		.info-comment
		.info-smotr
			color #fff

.width-510
	width 510px

.footer
	font-family 'GothamPro', arial, sans-serif

	&-ul li:nth-child(1)
		font-weight bold

.comp-name-top
	font-family 'GothamPro', arial, sans-serif

.top-activnih-text
	clearfix()
	white-space nowrap
	text-truncate()

	span
		font-family 'GothamPro', arial, sans-serif
		font-weight bold
		margin 0 20px 0 0

	a
		margin-left 0

.comp-name-rating
	position relative
	background-image none

	&:before
		sprite($icon_star_muted_xs)
		content ''
		display block
		position absolute
		left 0
		top 0

.col50 #med-slider
.med-slider
	height auto !important

.layout-widget-2
	background-color $background-color-inverse

	.flickity-page-dots
		bottom 24px

		.dot
			margin-top 0
			margin-bottom 0

	.flickity-viewport
		max-height 498px

	.teaser-news__panel
		height 258px

.layout-widget-4
	.nano
		height 652px
		max-height 652px

.layout-widget-5
	.indeksi-lenta&
		min-height 0

	& .indeks-list
		min-height 350px

.layout-nano-content
	width 510px
	float left

	+below(767px)
		width 100%
		max-width 510px

	&--alt
		width 768px

		+below(767px)
			width 100%
			max-width 510px

.layout-nano-content
.layout-nano-catalog-col-box
.layout-nano-cell-one-col
	height 1210px
	background-color #fff

	& > .nano-pane
		display none !important

.has-page-header .layout-nano-content
.has-page-header .layout-nano-cell-one-col
	height (1210px - 112px)

.layout-nano-cell-one-col
	position relative
	z-index 1

	&:before
		content ''
		position absolute
		left 0
		top 0
		bottom 0
		border-left 1px solid #e6e6e6
		z-index 1

		+below(767px)
			display none

	.list__item--hoverable:hover
		position relative
		z-index 2

	.teaser-news--hoverable .teaser-news__panel
	.teaser-section__more
		position relative
		border-left 1px solid #e6e6e6
		z-index 2

		+mobile()
			border-left-width 0

	.list__item--hoverable:hover
	.teaser-news--hoverable:hover .teaser-news__panel
	.teaser-section__more:hover
		border-left-color $background-color-base-hover

.layout-nano-cell-one-col .typography--space
	padding-bottom 7px

.layout-nano-card-list
	max-height 900px
	background-color transparent

+below(767px)
	.page--layout-main .cell-two-col
	.page--layout-main .col50
	.page--layout-main .cell-one-col.onmain
		width 100%
		max-width 510px

+below(767px)
	.layout-widget-5
		& .indeks-list
			min-height 390px

.layout-widget-index
	& .list
		min-height 356px

		+below(767px)
			min-height 396px

.page-left
	background-color #fff

.nano > .nano-pane
	z-index 2

.pattern
.group-cat .pattern
.group-cat:hover .pattern
.uk-overlay.uk-cover-background .uk-overlay-panel
// .teaser-news--hoverable:hover .teaser-news__panel
	background-image $background-image-pattern
	background-position 0 0
	background-repeat repeat

.group-cat .pattern
	background-color alpha(#303948, .3)

.group-cat:hover .pattern
	background-color alpha(#4d739f, .9)

.infindpage .input-find
	width 550px

+mobile()
	.infindpage
		width auto
		height auto

		.input-find
			width 294px

.bg-pattern
	background-position 0 0
	background-repeat repeat
	background-image $background-image-pattern

.page-top
	background-color $brand-primary
	background-position 0 0
	background-repeat repeat
	background-image $background-image-pattern
	height 28px !important
	overflow hidden

.logo
	background-color $brand-primary
	background-repeat repeat
	background-image $background-image-pattern
	position relative

	&__img
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)

.wrapper
	width 100%
	height 100%
	display table
	background-color #414a5a
	background-repeat repeat
	background-image $background-image-pattern !important

.top-informer
	font-family 'GothamPro', arial, sans-serif
	display flex
	flex-direction row
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	width 513px !important
	height 28px
	background-color #414a5a
	background-repeat repeat
	background-image $background-image-pattern !important

	+below(767px)
		width 100% !important

.top-time
.top-money
.top-weather
	display inline-block
	font-size 10px
	line-height 28px
	height 28px
	margin 0
	padding 0 10px
	border-right 1px solid #59606c
	color #ffffff

	&:last-child
		border-right 0
		padding-right 0

.top-weather
	border-right none
	padding 0 0 0 30px
	position relative

.top-money
	span:nth-child(1)
		margin 0 11px 0 0

.cat-head
	span
		font-family 'GothamPro Bold', arial, sans-serif

	a
		font-family 'GothamPro', arial, sans-serif

.catorgname
	font-family 'GothamPro Bold', arial, sans-serif

.catorgnum
	font-family 'GothamPro', arial, sans-serif

.content
	background-color #fff

	+below(767px)
		width 100%
		max-width 510px

.big-slider .slide
	+below(767px)
		width 100%
		max-width 510px

.top-activnih-line
	display flex
	flex-direction row
	justify-content space-between
	flex-wrap wrap
	box-sizing border-box
	padding-top 0 !important
	margin-left 0
	margin-right 0

	+mobile()
		height 308px

	+tablet()
		height 154px

	+desktop()
		height 154px

	+below(767px)
		height 302px

.top-activnih-obj
	box-sizing border-box
	width 82px
	height 154px
	margin-left 0
	margin-right 0
	float none
	padding 0

.niz-footer
	+mobile()
		box-sizing border-box
		margin-left 0
		margin-right 0
		height auto

.niz-footer-col
	+mobile()
		width 50%
		padding-left 0
		padding-right 0
		box-sizing border-box

		&:nth-last-child(1)
			display block
			width auto

	&--width-1-1
		width 100%

		+mobile()
			width 100%

.footer-ul
	li:nth-child(1)
		white-space nowrap

.slide-cont
	top 30px
	left 30px
	right 63px
	bottom 30px

	+mobile()
		top 20px
		right 53px
		bottom 20px
		left 20px

	.typography--subhead
		font-size 10px

		+mobile()
			font-size 7px

	.typography--display-2
		line-height 1.2

		+mobile()
			font-size 23px

	.typography--body
		font-size 14px
		line-height 20px

		+mobile()
			font-size 11px
			line-height 14px

	.typography--subhead
	.typography--display-2
	.typography--body
		margin-bottom 5px

		&:last-child
			margin-bottom 0

.bx-composite-btn
	background url(/bitrix/images/main/composite/sprite-1x.png) no-repeat right 0 #e94524
	border-radius 15px
	color #ffffff !important
	display inline-block
	line-height 30px
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif !important
	font-size 12px !important
	font-weight bold !important
	height 31px !important
	padding 0 42px 0 17px !important
	vertical-align middle !important
	text-decoration none !important
	text-truncate()

@media screen   and (min-device-width: 1200px)   and (max-device-width: 1600px)   and (-webkit-min-device-pixel-ratio: 2)  and (min-resolution: 192dpi)
	.bx-composite-btn
		background-image url(/bitrix/images/main/composite/sprite-2x.png)
		background-size 42px 124px

.bx-composite-btn-fixed
	position absolute
	top -45px
	right 15px
	z-index 10

.bx-btn-white
	background-position right 0
	color #fff !important

.bx-btn-black
	background-position right -31px
	color #000 !important

.bx-btn-red
	background-position right -62px
	color #555 !important

.bx-btn-grey
	background-position right -93px
	color #657b89 !important

.bx-btn-border
	border 1px solid #d4d4d4
	height 29px !important
	line-height 29px !important

.bx-composite-loading
	display block
	width 40px
	height 40px
	background url(/bitrix/images/main/composite/loading.gif)

.footer .bx-composite-btn
	margin-top 18px
	margin-left (25px - 17px)

.nano-news
	height 1156px
	background-color #fff

.nano-news .nano-pane
	display none !important

.z-index-11
	z-index 11

.cell-one-col.onmain
	position relative

.ya-share2__badge
	opacity .7

	&:hover
		opacity 1


// Big slider

.big-slider
	padding-bottom 100px
	height 457px
	position relative
	box-sizing border-box

	.slide
		overflow hidden
		height 357px

		p
			padding-top 8px
			padding-bottom 8px

		.podrobnee
			margin-top 13px

	.slide-pagi
		top 34px !important
		bottom auto

		li
			vertical-align top
			margin-left 4px
			margin-right 4px

			&:first-child
				margin-left 0

	.slick-prev
		background-image url("../images/sprites/icon.png")
		background-position 0px 0px
		width 33px
		height 33px
		margin-top -39px

	.slick-next
		background-image url("../images/sprites/icon.png")
		background-position -41px 0px
		width 33px
		height 33px
		margin-top 0

@media only screen and (max-width: 400px)
	.big-slider
		height 225px
		width 100%
		max-width 510px
		padding-bottom 0

.big-slider__banner
	position absolute
	left 0
	bottom 0
	width 100%
	height 100px

@media only screen and (max-width: 400px)
	.big-slider__banner
		display none

@media only screen and (max-width: 400px)
	.big-slider
		.slide
			height 225px

@media only screen and (max-width: 400px)
	.big-slider
		.slide
			p
				padding-top 0
				padding-bottom 0

@media only screen and (max-width: 400px)
	.big-slider
		.slide
			.podrobnee
				margin-top 5px

.big-slider .slick-prev,
.big-slider .slick-next
	left auto
	right 15px
	top 50%
	z-index 3

.big-slider .slick-prev:before,
.big-slider .slick-next:before
	display none

.big-slider-opac
	background rgba(48,57,72,0.4)

#main_slider_slide_n
	top 33px
	right 20px
	font-size 10px

.nl-all
	background #d9dce0 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpiuHnnwX8gYABhBhgDJAhngGiAAAMAN34cq9tjNrAAAAAASUVORK5CYII=") repeat
	border-bottom 1px solid #e0e5ea

	span
		letter-spacing 0.1ex
		font-weight bold

.nl-all--dark
	background-color #515a68
	color #fff
