@import url('https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic,&subset=latin,cyrillic')

@font-face
	font-family 'Material Design Icons'
	src url('../fonts/MaterialDesignIcons/materialdesignicons-webfont.eot?v=1.6.50')
	src url('../fonts/MaterialDesignIcons/materialdesignicons-webfont.eot?#iefix&v=1.6.50') format('embedded-opentype'), url('../fonts/MaterialDesignIcons/materialdesignicons-webfont.woff2?v=1.6.50') format('woff2'), url('../fonts/MaterialDesignIcons/materialdesignicons-webfont.woff?v=1.6.50') format('woff'), url('../fonts/MaterialDesignIcons/materialdesignicons-webfont.ttf?v=1.6.50') format('truetype'), url('../fonts/MaterialDesignIcons/materialdesignicons-webfont.svg?v=1.6.50#materialdesigniconsregular') format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'GothamPro'
	src url('../fonts/GothamPro/GothamPro.eot?') format('eot'), url('../fonts/GothamPro/GothamPro.otf') format('opentype'), url('../fonts/GothamPro/GothamPro.woff') format('woff'), url('../fonts/GothamPro/GothamPro.ttf') format('truetype'), url('../fonts/GothamPro/GothamPro.svg#GothamPro') format('svg')

@font-face
	font-family 'GothamPro Light'
	src url('../fonts/GothamPro-Light/GothamPro-Light.eot?') format('eot'), url('../fonts/GothamPro-Light/GothamPro-Light.otf') format('opentype'), url('../fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light/GothamPro-Light.ttf') format('truetype'), url('../fonts/GothamPro-Light/GothamPro-Light.svg#GothamPro-Light') format('svg')

@font-face
	font-family 'GothamPro Medium'
	src url('../fonts/GothamPro-Medium/GothamPro-Medium.eot?') format('eot'), url('../fonts/GothamPro-Medium/GothamPro-Medium.otf')  format('opentype'), url('../fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'), url('../fonts/GothamPro-Medium/GothamPro-Medium.ttf') format('truetype'), url('../fonts/GothamPro-Medium/GothamPro-Medium.svg#GothamPro-Medium') format('svg')

@font-face
	font-family 'GothamPro Bold'
	src url('../fonts/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'), url('../fonts/GothamPro-Bold/GothamPro-Bold.otf') format('opentype'), url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold') format('svg')

@font-face
	font-family 'GothamPro Black'
	src url('../fonts/GothamPro-Black/GothamPro-Black.eot?') format('eot'), url('../fonts/GothamPro-Black/GothamPro-Black.otf') format('opentype'), url('../fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'), url('../fonts/GothamPro-Black/GothamPro-Black.ttf') format('truetype'), url('../fonts/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black') format('svg')

// old
@font-face
	font-family 'FuturaDemiC'
	src url('../fonts/FuturaDemiC/futurademi-webfont.eot?') format('eot'), url('../fonts/FuturaDemiC/futurademi-webfont.ttf') format('truetype')

@font-face
	font-family 'FuturaBookC'
	src url('../fonts/FuturaBookC/futurabook-webfont.eot?') format('eot'), url('../fonts/FuturaBookC/futurabook-webfont.ttf') format('truetype')

@font-face
	font-family 'Russia'
	src url('../fonts/Russia/Russia.eot?') format('eot'), url('../fonts/Russia/Russia.ttf') format('truetype')
