body
	font-family $font-family-base
	font-size $font-size-base
	font-weight 300
	line-height $line-height-base

//h1, h2, h3, h4, h5, h6
	//margin-top 0
	//margin-bottom 3rem

//h1 small, h2 small, h3 small, h4 small, h5 small, h6 small
	//typo-display-3()
	//font-size 0.6em

//h1
	//typo-display-3()

//h2
	//typo-display-2()

//h3
	//typo-display-1()

//h4
	//typo-headline()

//h5
	//typo-title()

//h6
	//typo-subhead()

//p
	//typo-body()
	//margin-bottom 3rem

//a
	//color $link-color
	//font-weight 500

//mark
	//background-color #fff

//dt
	//font-weight 700

//address
	//typo-caption()
	//font-style normal

//ul, ol
	//typo-body()
	//margin-bottom 3rem

.typography--display-4
	typo-display-4()

.typography--display-3
	typo-display-3()

.typography--display-2
	typo-display-2()

.typography--display-1
	typo-display-1()

.typography--headline
	typo-headline()

.typography--title
	typo-title()

.typography--subhead
	typo-subhead()

.typography--caption
	typo-caption()

.typography--body
	typo-body()

.typography--body-small
	typo-body-small()

.typography--body-small-2
	typo-body-small-2()

.typography--text-left
	text-align left

.typography--text-right
	text-align right

.typography--text-center
	text-align center

.typography--text-justify
	text-align justify

.typography--text-nowrap
	white-space nowrap

.typography--text-lowercase
	text-transform lowercase

.typography--text-uppercase
	text-transform uppercase

.typography--text-capitalize
	text-transform capitalize

.typography--font-thin
	font-weight 200 !important

.typography--font-light
	font-weight 300 !important

.typography--font-regular
	font-weight 400 !important

.typography--font-medium
	font-weight 500 !important

.typography--font-bold
	font-weight 700 !important

.typography--font-black
	font-weight 900 !important

.typography--space
	padding 14px 24px
	background-color #fff
	color #666

.typography--color-muted
	color #a6a6a6

	a
		text-decoration none
		opacity .6

		&:focus
		&:hover
			opacity 1

.hr
	border-top 1px solid #f1f1f1

	hr
		display none

.typography-wrapper
	p
		margin-bottom 20px

.text-colored
	color #4d739f
