.banner.banner--donate(style="background-image:url('assets/images/uploads/banner_donate_510_200.jpg')")
	.banner__overlay-panel
		.banner__title-2 Нравиться?
		.banner__title-1 Поддержи проект!
		a.banner__button(href='', target='_blank') Поддержать
		.banner__hint-block
			| Ваша поддержка очень приятна и важна для нас, все средства направляются на развитие проекта.
