typo-display-4()
	font-family $headings-font-family
	font-size 50px
	font-weight bold
	line-height 1.12
	text-transform uppercase
	letter-spacing .5ex

typo-display-3()
	font-family $headings-font-family-black
	font-size 38px
	font-weight normal
	line-height 1.12
	text-transform uppercase
	letter-spacing .1ex

typo-display-2()
	font-family $headings-font-family-bold
	font-size 28px
	font-weight normal
	line-height 1.12
	text-transform uppercase
	letter-spacing .1ex

typo-display-1()
	font-family $headings-font-family-bold
	font-size 20px
	font-weight normal
	line-height 1.21

typo-headline()
	font-family $headings-font-family-bold
	font-size 11px
	font-weight normal
	line-height 1.21
	text-transform uppercase
	letter-spacing .1ex

typo-title()
	font-family $headings-font-family-bold
	font-size 14px
	font-weight normal
	line-height 1.21

typo-subhead()
	font-family $font-family-base
	font-size 12px
	line-height 1.16

typo-caption()
	font-family $font-family-base
	font-size 10px
	line-height 1.16

typo-body()
	font-family $font-family-base
	font-size 13px
	line-height 1.3846

typo-body-small()
	font-family $font-family-base
	font-size 12px
	line-height 1.41677

typo-body-small-2()
	font-family $font-family-base
	font-size 11px
	line-height 1.41677

typo-button()
	font-family $headings-font-family-medium
	font-weight normal
	font-size 10px
	line-height 1
	text-transform uppercase
	letter-spacing .1ex
