section.card.card--hoverable
  header.card__header
    .card__header-primary-content
      .card__header-avatar-wrap
        .card__header-avatar(style='background-image:url(http://placehold.it/50x50)')
          img(src='http://placehold.it/50x50', alt='', width='50', height='50')
        .card__header-avatar-caption
          | Вакансия
        .card__spacer
        .card__header-avatar-caption
          | Сегодня в 14:00
      p.card__header-sup-title
        | Мир упаковки, ЗАО
        small.small организация (больше 500 человек)
      h3.card__header-title Директор филиала
      ul.list.list--title-left.card__header-list
        li.list__item.list__item--salary
          .list__item-primary-content
            strong.list__item-title-left з/п:
            span.list__item-text-body
              | 142 000 руб.
      p.card__header-address
        i.icon.icon--pin-dark-blue-xs
        |                         Россия, Алтайский край, г. Барнаул
      p.card__header-text-body.card__header-text-body--line-3
        | Полный рабочий день. Требования к кандидату • Образование не ниже среднеспециального • Опыт работы – не менее 1 года в мясном производстве • Знание санитарных норм, ГОСТов, ОСТов и ТУ
    a.card__header-cover-link(href='')
  footer.card__actions
    button.btn.btn-colored.card__actions-btn.btn--alt.btn-lg
      i.icon.icon--email-dark-blue-sm
      span.btn__text Отправить резюме
    button.btn.btn-colored.card__actions-btn.btn--alt.btn-lg
      i.icon.icon--pin-dark-blue-sm
      span.btn__text Показать на карте
    .card__spacer
    span.text-colored
      i.icon.icon--smotr-blue-xs
      span 13
