section.card.card--doc.card--hoverable-2
  header.card__header
    .card__header-primary-content
      .card__header-avatar(style='background-image:url(http://placehold.it/90x130)')
        img(src='http://placehold.it/90x130', alt='', width='90', height='130')
      .card__column
        h3.card__header-title.card__header-title--line-4 ГОСТы группы 55 (Упаковка и размещение грузов)
        .card__spacer
        .card__actions
          span.typography--color-muted
            | RTF
            br
            | 5 657 Кб
          .card__spacer
          span.text-colored
            i.icon.icon--smotr-blue-xs
            span 13
    a.card__header-cover-link(href='')
