section.card.card--study.card--hoverable
  header.card__header
    .card__header-primary-content
      h3.card__header-title Алтайский государственный университет (АлгГУ)
      p.card__header-site-link
        a(href='', target='_blank') www.asu.ru
      p.card__header-address
        i.icon.icon--pin-dark-blue-xs
        |                         Россия, Алтайский край, г. Барнаул
      ul.list.list--title-left.card__header-list
        li.list__item
          .list__item-primary-content
            strong.list__item-title-left Правовая форма:
            span.list__item-text-body
              | Государственный ВУЗ
        li.list__item
          .list__item-primary-content
            strong.list__item-title-left Государственная аккредитация:
            span.list__item-text-body
              | от 31.05.2013 на срок до 31.05.2019
        li.list__item
          .list__item-primary-content
            strong.list__item-title-left Форма обучения:
            span.list__item-text-body
              | Очная / заочная / очно-заочная
    .card__header-secondary-content
      label.card__header-secondary-action.mdl-icon-toggle.mdl-js-icon-toggle(for='icon-toggle-1')
        input#icon-toggle-1.mdl-icon-toggle__input(type='checkbox')
        i.mdl-icon-toggle__label.mdi.mdi-star-outline
    a.card__header-cover-link(href='')
  footer.card__actions
    button.btn.btn-colored.card__actions-btn.btn--alt.btn-lg
      i.icon.icon--pin-dark-blue-sm
      span.btn__text Показать на карте
    .card__spacer
    span.text-colored
      i.icon.icon--smotr-blue-xs
      span 13
