figure.uk-overlay.uk-cover-background(style='background-image:url(assets/images/uploads/img-510x200.jpg)')
  img.invisible(src='assets/images/uploads/img-510x200.jpg', alt='', width='510', height='200')
  .uk-overlay-panel.text-xs-center.uk-overlay-background
    h5.typography--headline Число дня
    h6.typography--title
      span.typography--display-3 1,495
      br
      | фунтов стерлингов
    p.typography--subhead
      | Столько денег потратил премьер-министр Великобритании Дэвид Кэмерон на подержанный автомобиль Nissan Micra, который он приобрел для своей жены.
  .uk-overlay-panel.uk-flex.uk-flex-bottom.uk-flex-center
    p.typography--caption
      span.text-muted Источник:
      |  The Guardian
