section.panel.panel--side.layout-widget-index
  h5.typography--headline.typography--space Индексы цен
  p.typography--subhead.typography--space
    | По данным РАО «Бумпром» (руб./тн)
    br
    | за май 2016
  ul.list.list--index
    li.list__item.list__item--hoverable
      span.list__item-primary-content
        span.list__item-title.list__item-title--line-2 Бумага для гафрирования целюлезная
      span.list__item-secondary-content
        span.list__item-secondary-num.up
          | 3045
          small.percent +1,18%
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable
      span.list__item-primary-content
        span.list__item-title.list__item-title--line-2 Бумага для гафрирования целюлезная
      span.list__item-secondary-content
        span.list__item-secondary-num.down
          | 3045
          small.percent -1,18%
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable
      span.list__item-primary-content
        span.list__item-title.list__item-title--line-2 Бумага для гафрирования целюлезная
      span.list__item-secondary-content
        span.list__item-secondary-num.up
          | 3045
          small.percent +1,18%
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable
      span.list__item-primary-content
        span.list__item-title.list__item-title--line-2 Бумага для гафрирования целюлезная
      span.list__item-secondary-content
        span.list__item-secondary-num.down
          | 3045
          small.percent -1,18%
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable
      span.list__item-primary-content
        span.list__item-title.list__item-title--line-2 Бумага для гафрирования целюлезная
      span.list__item-secondary-content
        span.list__item-secondary-num.up
          | 3045
          small.percent +1,18%
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable
      span.list__item-primary-content
        span.list__item-title.list__item-title--line-2 Бумага для гафрирования целюлезная
      span.list__item-secondary-content
        span.list__item-secondary-num.down
          | 3045
          small.percent -1,18%
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable
      span.list__item-primary-content
        span.list__item-title.list__item-title--line-2 Бумага для гафрирования целюлезная
      span.list__item-secondary-content
        span.list__item-secondary-num.up
          | 3045
          small.percent +1,18%
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable
      span.list__item-primary-content
        span.list__item-title.list__item-title--line-2 Бумага для гафрирования целюлезная
      span.list__item-secondary-content
        span.list__item-secondary-num.down
          | 3045
          small.percent -1,18%
      a.list__item-cover-link(href='')
  a.btn.btn-block.btn--more Все индексы
