section.panel.panel--section.layout-widget-lenta
  .panel__body
    button.btn.btn-link.btn--alt.panel__secondary-action
      span.btn__text По времени обновления
      i.mdi.mdi-chevron-down
    h3.typography--headline Лента новостей
  .teaser-section__list
    article.teaser-news.teaser-news--hoverable.teaser-news--sep
      header.teaser-news__panel
        span.teaser-news__image.teaser-news__image--left.teaser-news__image--small-2
          img(src='http://placehold.it/60x60', alt='', width='60', height='60')
        .teaser-news__content
          .teaser-news__toolbar
            span.teaser-news__toolbar-date Сегодня, 10:16
            span.teaser-news__toolbar-spacer
          h6.teaser-news__title
            | Ставропольские предприятия по производству медицинской тары входят в рабочий режим
          .teaser-news__text
            p
              | На Новоалек сандровском стеклотарном заводе начала работу вторая печь, в скором времени это позволит сократить нехватку стеклянной медицинской тары и стеклянной медицинской тары и
      a.teaser-news__cover-link(href='')
  button.btn.btn-block.btn--more(disabled='disabled') Показать еще
