section.panel.panel--section.layout-widget-company
  .panel__body
    h3.typography--headline О компании
    .panel__hr
      hr
  .collapse.collapseCompany_01.panel__collapse.panel__collapse--line-4
    .panel__body.typography--body
      .panel__collapse-inner.typography-wrapper
        p.typography--text-center.typography--color-muted Информация о компании отсутствует
  button.btn.btn-block.btn--more.collapse-toggle(data-target='.collapseCompany_01', disabled='disabled')
    span.btn__text Показать подробнее
    span.btn__text Скрыть подробнее
