section.panel.panel--section.layout-widget-contact
  .panel__map
    img(src='http://placehold.it/768x235', alt='', width='768', height='235')
  .panel__body
    h3.typography--headline Профессиональные требования:
    ul.list.list--title-left.panel__list.list--square.panel__list--m-1
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | Знание Adobe Photoshop
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | Знание Adobe Illustrator
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | Наличие профильного портфолио обязательно
    .panel__hr
      hr
    h3.typography--headline Обязанности:
    ul.list.list--title-left.panel__list.list--square.panel__list--m-1
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | Веб-дизайн
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | Фирменный стиль
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | Полиграфия
    .panel__hr
      hr
    h3.typography--headline Условия работы:
    ul.list.list--title-left.panel__list.list--square.panel__list--m-1
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | 8 часовой рабочий день, пятидневка
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | Официальное трудоустройство
      li.list__item
        .list__item-primary-content
          span.list__item-text-body
            | Профессиональное обучение
  .panel__footer
    .panel__hr
      hr
    .panel__footer-line
      button.btn.btn-primary.btn--alt
        i.icon.icon--email-white-sm
        span Отправить резюме
    .panel__footer-line
      p.typography--body-small-2.typography--color-muted
        | Дата последнего обновления: Сегодня.
      p.typography--body-small-2.typography--color-muted
        | Вакансия опубликована в рубриках:
        a(href='') Логистика
        |  /
        a(href='') Полиграфия
        |  /
        a(href='') Производство
