section.panel.panel--section.layout-widget-lenta
  .panel__body
    h3.typography--headline Лента новостей
  .panel__body.typography--body
    .typography-wrapper
      p.typography--text-center.typography--color-muted У компании нет ни одной новости
