section.panel.panel--side.layout-widget-products
  h5.typography--headline.typography--space Галлерея товаров
  ul.list.list--products
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/45x45)')
        span.list__item-title.list__item-title--line-2 Пленка защитная пленка MASKO 550 мм x 33
        span.list__item-price
          | 4 590 руб.
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/45x45)')
        span.list__item-title.list__item-title--line-2 Пленка защитная пленка MASKO 550 мм x 33
        span.list__item-price
          | 4 590 руб.
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/45x45)')
        span.list__item-title.list__item-title--line-2 Пленка защитная пленка MASKO 550 мм x 33
        span.list__item-price
          | 4 590 руб.
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/45x45)')
        span.list__item-title.list__item-title--line-2 Пленка защитная пленка MASKO 550 мм x 33
        span.list__item-price
          | 4 590 руб.
      a.list__item-cover-link(href='')
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/45x45)')
        span.list__item-title.list__item-title--line-2 Пленка защитная пленка MASKO 550 мм x 33
        span.list__item-price
          | 4 590 руб.
      a.list__item-cover-link(href='')
  a.btn.btn-block.btn--more Все товары
