section.panel.panel--section.layout-widget-company
  .panel__body
    h3.typography--headline О компании
    .panel__hr
      hr
  .collapse.collapseCompany_01.panel__collapse.panel__collapse--line-4
    .panel__body.typography--body
      .panel__collapse-inner.typography-wrapper
        p
          | Pellentesque eu est eu nibh pellentesque condimentum ac at urna. Vestibulum varius vehicula turpis, eget dignissim tellus tincidunt at. Suspendisse in elit ac turpis ultricies cursus. Pellentesque mauris mi, faucibus vitae mollis sed, tincidunt at mi. In porttitor ornare sem a iaculis. Curabitur ipsum nulla, lacinia eget ante dignissim, gravida commodo neque. Proin pharetra tellus a consequat semper. Donec et leo luctus, lacinia diam sed, mollis libero. Aliquam tincidunt
        p
          | Nullam sagittis iaculis dignissim. Quisque at eros vel justo vehicula facilisis. Ut erat sapien, varius ac magna et, commodo tempor leo. In sed urna viverra, suscipit velit quis, convallis odio. Integer nisl mi, hendrerit at ullamcorper non, bibendum eu mauris. Pellentesque consectetur tortor vitae fringilla interdum. Quisque imperdiet ex non neque tincidunt lacinia. Duis molestie neque non augue aliquet, tempor convallis enim tempus. Praesent sodales nunc ut aliquet iaculis. Nulla metus tortor, tincidunt ac vulputate eu, dignissim ac nisi. In sagittis ante nunc, vel porttitor nibh rutrum ac.
        p
          | Morbi pulvinar arcu a orci tempor, eget commodo magna placerat. Proin velit leo, mollis at nulla eget, cursus pellentesque metus. Ut cursus pellentesque cursus. Phasellus bibendum erat et metus congue, et vulputate nisi feugiat. Vestibulum tempor, arcu nec finibus pulvinar, lectus elit porttitor urna, a tempor massa quam porttitor orci. In hac habitasse platea dictumst. Cras at massa blandit, imperdiet risus vel, commodo tortor. Suspendisse ac leo sed risus molestie cursus.
        p
          | Mauris blandit eros nec purus tempus luctus. Pellentesque vulputate arcu ac lectus egestas, id ultrices mi sollicitudin. Vivamus sed dolor dui. Integer convallis dolor a diam egestas vehicula. Donec tincidunt, sem ac iaculis facilisis, tortor odio faucibus dolor, id egestas erat leo in ante. Cras volutpat mauris neque, a hendrerit justo sodales suscipit. Maecenas pharetra enim odio, non dignissim massa euismod in. Maecenas condimentum sed odio in venenatis.
  button.btn.btn-block.btn--more.collapse-toggle(data-target='.collapseCompany_01')
    span.btn__text Показать подробнее
    span.btn__text Скрыть подробнее
