section.panel.panel--side.layout-widget-employees
  h5.typography--headline.typography--space Сотрудники
  ul.list.list--employees
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/40x40)')
        span Алексей Сазонов
        span.list__item-text-body
          | Менеджер по продажам
          br
          | +7 (906) 854-25-25
      span.mdl-list__item-secondary-content
        i.mdi.mdi-status.mdi-status--on
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/40x40)')
        span Мария Мажарова
        span.list__item-text-body
          | Менеджер
          br
          | +7 (906) 854-25-25
      span.mdl-list__item-secondary-content
        i.mdi.mdi-status.mdi-status--on
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/40x40)')
        span Мария Мажарова
        span.list__item-text-body
          | Менеджер
          br
          | +7 (906) 854-25-25
      span.mdl-list__item-secondary-content
        i.mdi.mdi-status.mdi-status--on
    li.list__item.list__item--hoverable.list__item--three-line
      span.list__item-primary-content
        .list__item-avatar(style='background-image:url(http://placehold.it/40x40)')
        span Мария Мажарова
        span.list__item-text-body
          | Менеджер
          br
          | +7 (906) 854-25-25
      span.mdl-list__item-secondary-content
        i.mdi.mdi-status.mdi-status--on
  a.btn.btn-block.btn--more Показать все
